/* custom.scss */    
$theme-colors: (
  "substance": #c6dec6,
);
/* import the necessary Bootstrap files */
@import "Bootstrap";

/* make changes to the !default Bootstrap variables */    
$enable-shadows: true;
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #283e80;
    background-color: #283e80;
  }
  figure {
    //border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 500px;
    margin: auto;
}

img {
    max-width: 500px;
}

figcaption {
    color: #fff;
    font: italic large sans-serif;
    padding: 3px;
    text-align: center;
}

.tile{
  max-width: 500px;
  min-height: 300px;
  max-height: 500px;
}
label{
  font-weight: 500;
}
.breadcrumb {
  padding: 2px 15px !important;
}

.scrollPnl{
  overflow-x: hidden!important
}

.markedbycolor{
  background-color: #FFFFE0
}

/* @group Blink */
.blink {
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
  animation: blink .75s linear infinite;
 }
 @-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
 }
 @-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
 }
 @-ms-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
 }
 @-o-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
 }
 @keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
 }

 .timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.5rem
}

.timeline-steps .timeline-step1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.5rem
}

@media (min-width:768px) {
  .timeline-steps .timeline-step1:not(:last-child):after {
      content: "";
      display: block;
      border-top: .1rem dotted #6c757d;
      width: 5.2725rem;
      position: absolute;
      left: 3rem;
      top: .3125rem
  }


  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: .1rem solid #6c757d;
    width: 5.2725rem;
    position: absolute;
    left: 3rem;
    top: .3125rem
}
  /* .timeline-steps .timeline-step:not(:first-child):before {
      content: "";
      display: block;
      border-top: .25rem dotted #f2eb22;
      width: 3.8125rem;
      position: absolute;
      right: 7.5rem;
      top: .3125rem
  } */
}

.timeline-steps .timeline-content {
  width: 5rem;
  text-align: center
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #7dadeb;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  border-radius: 1.5rem;
  opacity: .5
}

.timeline-steps .timeline-content1 {
  width: 5rem;
  text-align: center
}

.timeline-steps .timeline-content1 .inner-circle {
  border-radius: 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0b0000
}

.timeline-steps .timeline-content1 .inner-circle:before {
  content: "";
  background-color: #c7cbcf;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  border-radius: 1.5rem;
  opacity: .5
}